* {
	padding: 0;
	margin: 0;
	outline: 0;
	font-weight: 900;
	font-size: 1rem;
}

body {
	width: 100vw;
	height: 100vh;
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#display {
	width: 100%;
	height: 30%;
	background-color: rgb(5, 4, 4);
	color: #fff;
	display: flex;
	align-items: flex-end;
}

p {
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 1.5rem;
	font-size: 4rem;
}

#section-btn {
	flex: 1;
	height: 70%;
	padding: 1rem 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	background-color: rgb(2, 1, 3);
}

#section-btn input {
	width: 5rem;
	height: 5rem;
	background-color: rgb(61, 61, 61);

	margin: 0 0.3rem;
	border-radius: 50%;
	border: none;
}

#section-btn input:hover {
	color: rgb(58, 247, 0);
	background-color: rgb(138, 135, 135);
}

.limpar {
	color: rgb(255, 92, 32);
	text-transform: uppercase;
}

.operador {
	color: rgb(58, 247, 0);
	background-color: rgb(61, 61, 61);
}

.numero {
	color: #fff;
}

#section-btn .resultado {
	background-color: rgb(58, 247, 0);
	color: #fff;
}

#section-btn .resultado:hover {
	background-color: #fff;
	color: rgb(58, 247, 0);
}
